@import 'variables';

.mainDiv {
  padding: 150px 0;
  width: 80% !important;
}

.mainContainer {
  display: flex;
}

.mainTitle {
  text-align: center;
  padding-bottom: 60px;
}

.mainText {
  color: $color-dark-gray;
}

.mainPic {
  max-width: 40%;
  max-height: 50%;
  float: left;
  margin-right: 30px;
}